<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @voucher.code %>
</p>

<p>
  <b>Amount:</b>
  <%= @voucher.amount %>
</p>

<p>
  <b>Expires at:</b>
  <%= @voucher.expires_at %>
</p>


<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
